---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404 - Centre d'acollida d'animals a la Selva | CAAS">
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-white text-3xl">No trobat...</h1>
  </div>
</Layout>